<h1>Student App!</h1>

<ol>
  <!--Using @for to loop through teh students array-->
  @for(x of students; track x)
  {
    <li>{{x.name}}</li>
  }
</ol>

<!--Using *ngFor to loop through the students array-->
<ul>
  <li *ngFor="let xyz of students"> 
    <!--Displaying the id, name and address of each student in the array-->
    {{count+1}}.{{xyz.id}}, {{xyz.name}}, {{xyz.address}}
  </li>
</ul>


<h1>Weather in Galway</h1>
<!--Displaying main, description and tempeerature (in degrees celcius) of the weather in galway-->
<p>{{weather[0].main}} - {{weather[0].description}} - {{temperature.temp - 273.51}}* C</p>